*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* outline: 1px solid red; */
}

img {
  display: block;
  max-width: 100%;
}

/* VARIABLES */
:root {
  --background-color: #151419;
  --h3-color: rgb(255, 255, 255);
  --text-color: rgba(255, 255, 255, 0.72);
  --highlight-color1: rgb(114, 240, 225);
  --highlight-color2: #fbe159;
  --highlight-color3: rgb(255, 19, 146);
  --highlight-color4: rgb(226, 255, 116);
  --carousel-button-color: rgba(255, 255, 255, 0.5);
  --sub-text-color: #808080;
  --list-text-color: #15141985;
  
  scroll-behavior: smooth;
  }
