*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* outline: 1px solid red; */
}

img {
  display: block;
  max-width: 100%;
}

/* VARIABLES */
:root {
  scroll-behavior: smooth;
  --background-color: #151419;
  --background-color2: #222030;
  --h3-color: rgb(255, 255, 255);
  --text-color: rgba(255, 255, 255, 0.72);
  --highlight-color1: rgb(114, 240, 225);
  --highlight-color2: #fbe159;
  --highlight-color3: rgb(255, 19, 146);
  --highlight-color4: rgb(225, 255, 116);
  --carousel-button-color: #ffffff80;
  --sub-text-color: #808080;
  --list-text-color: #15141985;
  --overlay-text-color: #FFFFFFD4;
  --overlay-background-color: rgba(0, 0, 0, 0.8);
  
    --prices-text-small: var(--sub-text-color); 
    --prices-ticket-b: var(--background-color2);
    --prices-color-pink: var(--highlight-color3);
    --prices-color-blue: var(--highlight-color1);
    --prices-ticket-bt: var(--h3-color);
    --prices-text-title: var(--background-color);
    --prices-ticket-b-hover: rgb(0, 0, 0);
    --prices-text-small-06: hsla(248, 20%, 16%, 0.6);
    --prices-text-small-07: hsla(248, 20%, 16%, 0.7);
    --font-size-small11: 11px;
    --prices-color-slide1: var(--highlight-color1);
    --prices-color-slide2: rgb(254, 117, 191);
    --prices-color-slide3: var(--highlight-color2);
    --prices-color-slide4: var(--highlight-color4);
    --h2-font-size: 48px;
    --ac-block-font-size: 19px;
    --ac-text-color-072: var(--text-color);
    
}
