*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

  /* outline: 1px solid red; */
}

img {
  display: block;
  max-width: 100%;
}

/* VARIABLES */
:root {
  scroll-behavior: smooth;
  --background-color: #151419;
  --background-color2: #222030;
  --h3-color: #ffffff;
  --text-color: rgba(255, 255, 255, 0.72);
  --highlight-color1: rgb(114, 240, 225);
  --highlight-color2: rgb(251, 225, 89);
  --highlight-color3: rgb(255, 19, 146);
  --highlight-color4: rgb(225, 255, 116);
  --carousel-button-color: #ffffff80;
  --sub-text-color: #808080;
  --list-text-color: #15141985;
  --overlay-text-color: #ffffffd4;
  --overlay-background-color: rgba(0, 0, 0, 0.8);
  --prices-text-small: var(--sub-text-color); 
  --prices-ticket-b: var(--background-color2);
  --prices-color-pink: var(--highlight-color3);
  --prices-color-blue: var(--highlight-color1);
  --prices-ticket-bt: var(--h3-color);
  --prices-text-title: var(--background-color);
  --prices-ticket-b-hover: rgb(0, 0, 0);
  --prices-text-small-opacity: rgba(35, 33, 49, 0.6);
  --prices-color-slide1: var(--highlight-color1);
  --prices-color-slide2: rgb(254, 117, 191);
  --prices-color-slide3: var(--highlight-color2);
  --prices-color-slide4: var(--highlight-color4);
  --ac-text-color: var(--text-color);
  --ac-form-color: rgba(30, 29, 42, 1);
  --ac-form-back: rgba(255, 255, 255, 0.02);
  --button-text-color: var(--background-color2);
  --sch-name-text: rgba(255, 255, 255, 1);
  --font-size-small: 0.6875rem;
  --h2-font-size: 3rem;
  --ac-block-font-size: 1.1875rem;
  --sch-in-font-size: 1.0625rem;
}
