.footer-section__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section__columns {
    display: flex;
    justify-content: space-between;
}

.footer-section__about,
.footer-section__navigation,
.footer-section__subscribe {
    flex: 1;
    margin: 0 10px;
}

.footer-section__logo {
    display: block;
    margin-bottom: 15px;
}

.footer-section__title {
    font-weight: bold;
    margin-top: 20px;
}

.footer-section__menu {
    list-style: none;
    padding: 0;
}

.footer-section__menu-item {
  color: #a2a2a4;
  font-size: 17px;
  font-family: "Comme", serif;
  font-weight: 400;
  text-decoration: none;
}

.footer-section {
    background-color: #151419;
}

.footer-section__description {
    color: #A2A2A4;
}

.footer-section__title {
    color: #FFFFFF;
}

.footer-section__menu-item {
    text-decoration: none;
    color: #A2A2A4; 
}

.footer-section__menu-item:hover {
    color: #FBE159
}

.footer-section__button {
    width: 127.4;
    height: 56;
}

.albert-sans-footer-section__title {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

@media (min-width: 770px) {
    .footer-section__navigation {
        flex-direction: row;
    }
}

.comme-footer-section__description {
    font-family: "Comme", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .footer-section__socials {
    display: flex;
    gap: 10px; 
}

.footer-section__social-icon {
    width: 24px; 
    height: 24px;
}

