.members-carousel {
  --responsive-coefficient: 1;
  --gap-coefficient: 2;
  --horizontal-gap-carousel: 20px;

  background-color: var(--background-color);
  font-family: Comme, sans-serif;
  font-size: calc(1rem * var(--responsive-coefficient));

  padding: 30px 15px;

  .members-carousel-limit {
    max-width: 1200px;
    margin: 0 auto;

    .members-carousel__container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      width: 100%;
      max-width: 1200px;

      .members-carousel__button {
        width: 50px;
        height: 50px;

        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--carousel-button-color);
        background-size: cover;
      }

      .members-carousel__button:active {
        background-color: transparent;
        border: none;
        border-radius: 0;
        background-image: url("../img/index/poop.png");
      }

      .members-carousel__button:active svg {
        visibility: hidden;
      }

      .members-carousel__button--left svg {
        transform: scaleX(-1);
      }

      .members-carousel__button--left:active {
        transform: rotate(-90deg);
      }

      .members-carousel__button--right:active {
        transform: rotate(90deg);
      }

      .members-carousel__additional-members {
        display: flex;
        gap: var(--horizontal-gap-carousel); /* 20px */
        width: 100%;
        justify-content: center;
        align-items: end;
        flex-wrap: nowrap;
        min-height: 300px;

        .members-carousel__additional-member {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          width: 180px;
          text-align: center;

          .members-carousel__member-name {
            font-family: "Albert Sans", sans-serif;
            font-size: 1.375rem;
            font-weight: 700;
            color: var(--h3-color);
            margin: 0 auto;
          }

          .members-carousel__member-role {
            font-family: "Anonymous Pro", monospace;
            font-size: 0.6875rem;
            margin: 0 auto;
            text-transform: uppercase;
          }

          /* Hide a system cursor */
          .members-carousel__member-photo-from-onlyfans {
            cursor: none;
          }
        }

        .members-carousel__additional-member-cyan {
          .members-carousel__member-role {
            color: var(--highlight-color1);
          }
        }

        .members-carousel__additional-member-purple {
          .members-carousel__member-role {
            color: var(--highlight-color3);
          }
        }

        .members-carousel__additional-member-yellow {
          .members-carousel__member-role {
            color: var(--highlight-color2);
          }
        }

        .members-carousel__additional-member-green {
          .members-carousel__member-role {
            color: var(--highlight-color4);
          }
        }
      }
    }

    .important-fact {
      display: none;
      position: absolute;
      background-color: rgba(100, 100, 100, 0.8);
      padding: 5px;
      border-radius: 15px;
      pointer-events: none;
      width: 200px;
      text-align: center;
      font-family: "Quantico", monospace, sans-serif;

      .important-fact__line--one {
        font-weight: bold;
        color: yellow;
      }

      .important-fact__line--two {
        margin-top: 10px;
      }
    }

    .custom-cursor {
      display: none; /* A custom cursor is invisible by default, JS decides when to show it*/
      position: absolute; /* The cursor image should position ragardless other elements */
      width: 42px;
      height: 80px;
      background-image: url("../img/index/clippy.png");
      background-size: cover;
      pointer-events: none; /* Ignore events of stantart cursor (like clicking?) — unless it doesn't work */
    }

    /* 1 person */
    @media (min-width: 375px) {
      .members-carousel__container {
        margin: 0 auto;
        width: 345px;
      }
    }

    /* 2 persons */
    @media (min-width: 550px) {
      .members-carousel__container {
        margin: 0 auto;
        width: 520px;
      }
    }

    /* 3 persons */
    @media (min-width: 790px) {
      .members-carousel__container {
        margin: 0 auto;
        width: 760px;

        .members-carousel__additional-members {
          gap: calc(
            var(--horizontal-gap-carousel) * var(--gap-coefficient)
          ); /* 20px * 2 */
        }
      }
    }

    /* 4 persons */
    @media (min-width: 1010px) {
      .members-carousel__container {
        margin: 0 auto;
        width: 980px;

        .members-carousel__additional-members {
          gap: calc(
            var(--horizontal-gap-carousel) * var(--gap-coefficient)
          ); /* 20px * 2 */
        }
      }
    }
  }
}
