.testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/index/cover-hero.png");
  background-size: cover;
  transition: background-image 1.5s ease-in-out;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Змінено для повної ширини */
  max-width: none; /* Знято обмеження на максимальну ширину */
  padding: 0 24px;
  box-sizing: border-box; /* Важливо для коректного обчислення розмірів */
}

@media (min-width: 769px) {
  .testimonial {
    display: flex;
    flex-direction: row; /* картинка зліва, текст справа */
    align-items: stretch; /* вирівнюємо висоту */
    justify-content: flex-start;
    width: 100%; /* елементи займають всю ширину */
  }

  .testimonial__image {
    flex: 1; /* картинка займає 50% ширини */
    height: 100%; /* картинка буде такої ж висоти, як текстовий блок */
    object-fit: cover; /* картинка буде пропорційно масштабуватися для покриття контейнера */
    box-sizing: border-box; /* зберігаємо співвідношення padding і ширини */
  }

  .testimonial__text-block {
    flex: 1; /* текстовий блок займає 50% ширини */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%; /* висота блоку буде рівна висоті картинки */
    box-sizing: border-box; /* зберігаємо співвідношення padding і ширини */
    overflow: hidden; /* ховаємо зайвий текст, якщо потрібно */
  }
}

@media (max-width: 768px) {
  .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%; /* забезпечуємо, щоб елементи займали всю ширину */
  }

  .testimonial__image {
    width: 100%; /* картинка займає всю ширину */
    height: auto; /* зберігається співвідношення сторін */
    margin-bottom: 20px;
  }

  .testimonial__text-block {
    padding: 20px;
    height: auto; /* висота адаптується під вміст */
  }
}

.background-roof {
  width: 100%;
  height: 100px;
  background-color: var(--background-color3);
  transform: translateY(1px);
  clip-path: polygon(30% 0%, 100% 100%, 0% 100%);
}

.testimonials__label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-family: "Comme", sans-serif;
  color: var(--highlight-color2);
  font-size: 11px;
}

.testimonials__title {
  font-size: 34px;
  margin: 0;
  font-family: "Albert Sans", sans-serif;
  color: var(--overlay-text-color);
}

.testimonials__title__guests {
  color: var(--highlight-color1);
}

.testimonials__title__period {
  color: var(--highlight-color3);
}

.testimonials__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--overlay-text-color);
  font-family: "Comme", sans-serif;
  font-size: 19px;
  width: 100%;
  height: 100%;
}

.testimonial__text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroung-color-text-block);
  padding: 39px 43px;
  width: 100%;
}

.testimonial__quote {
  font-size: 20px;
  font-style: italic;
  color: var(--sub-text-color);
  margin-bottom: 20px;
}

.testimonial__author {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-block-color);
  font-family: "Albert Sans", sans-serif;
}

.testimonial__position {
  font-size: 11px;
  font-family: "Anonymous Pro", monospace;
  color: var(--highlight-color3);
  padding: auto;
  white-space: nowrap;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: gray;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  background-color: darkgray;
}
