@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.members-list {
    --background-color: #151419;
    --h3-color: rgb(255, 255, 255);
    --text-color: rgba(255, 255, 255, 0.72);
    --highlight-color1: rgb(114, 240, 225);
    --highlight-color2: #fbe159;
    --highlight-color3: rgb(255, 19, 146);

    background-color: var(--background-color);
    font-family: Comme, sans-serif;
    font-size: 1.0625rem;
    display: flex;
    flex-direction: column;
    text-align: center;


    .member__name {
        color: var(--h3-color);
        font-family: "Albert Sans", sans-serif;
        font-size: 2.125rem;
    }

    .member__roles {
        text-transform: uppercase;
        color: var(--highlight-color2);
        font-family: "Anonymous Pro", monospace;
        font-size: 0.6875rem;
    }

    .member__description {
        color: var(--text-color);
    }

    .member__email a {
        color: var(--text-color);
        text-decoration: none;
    }

    .member__socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    svg.member__socials-icon {
        display: block;
        width: 100px;
        border-radius: 50%;
        fill: var(--highlight-color1);

        .logo {
            fill: var(--background-color);
        }
    }
}