.key-topics {
  margin-top: 80px;
  padding: 0;
  border: 0;
  width:auto;
  }

.key-topics__title {
  color: var(--sub-text-color);
  font-family: "Anonymous Pro", monospace;
  font-size: 11px;
  text-align: left;
  vertical-align: baseline;
  padding-left: clamp(10px, 10%, 250px);
}

.key-topics__description {
  display:block;
  width: auto;
  height: fit-content;
  line-height: 1;
  font-family: "Albert Sans", sans-serif;
  color: var(--background-color);
  font-size: 48px;
  font-weight: 700;
  box-sizing: border-box;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: clamp(10px, 10%, 250px);
}

.key-topics__highlight {
  color: var(--highlight-color3);
}

.highlight-dot {
  color: var(--highlight-color1);
}

.key-topics__list {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin-top: 50px;
  font-family: "Comme", sans-serif;
  font-size: 14px;
  color: var(--list-text-color);
  position: relative;
  line-height: 4;
  align-items:baseline;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding-left: clamp(10px, 10%, 250px);
}

.key-topics__item {
  list-style-image: url(../img/key-topics/yellow-checked-checkbox-19px.png);
 }

.key-topics__three-images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.key-topics__image-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* Вирівнювання всіх зображень */
  width: 100%; /* Повна ширина */
  position: relative;
  width: 100%;
  max-width: 365px;
  max-height: 440px;
  overflow: hidden;
  margin-bottom: 50px;
}

.key-topics__image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease; 
  transform-origin: center center;
}

.key-topics__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0;
  visibility: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.key-topics__image-container:hover .key-topics__overlay {
  opacity: 1;
  visibility: visible;
}

.key-topics__image-container:hover .key-topics__image {
  transform: scale(1.05);
}



.key-topics__overlay-title {
  color: var(--h3-color);
  font-family: "Albert Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 30px;
}

.key-topics__overlay-text {
color: var(--overlay-text-color);
font-family: "Comme", sans-serif;
font-size: 17px;
font-weight: 400;
line-height: 1.5;

}

.key-topics__stats {
  position: relative;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding-left: clamp(10px, 10%, 250px);
  padding-right: clamp(10px, 10%, 250px);
}


.key-topics__stat {
  line-height: 4;
}

.key-topics__stat-number {
  font-family: "Albert Sans", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 2.5;
  color: var(--background-color);
  text-align: center;
  vertical-align: baseline;
}

.key-topics__stat-label {
  font-family: "Anonymous Pro", monospace;
  font-size: 11px;
  font-weight: 700;
  line-height: 2.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--sub-text-color);
  text-align: center;
  vertical-align: baseline;
}

.key-topics__stat-color-dot-10 {
  font-family: "Albert Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 2.5;
  color: var(--highlight-color2);
  text-align: center;
  vertical-align: baseline;
}

.key-topics__stat-color-dot-230k {
  font-family: "Albert Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 2.5;
  color: var(--highlight-color3);
  text-align: center;
  vertical-align: baseline;
}

.key-topics__stat-color-dot-539 {
  font-family: "Albert Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 2.5;
  color: var(--highlight-color1);
  text-align: center;
  vertical-align: baseline;
}

.key-topics__stat-color-dot-4k {
  font-family: "Albert Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 2.5;
  color: var(--highlight-color4);
  text-align: center;
  vertical-align: baseline;
}

@media (max-width: 768px) {
  .key-topics {
    flex-direction: column;
  }
  .key-topics__description,
  .key-topics__list {
    flex-basis: 100%; /* Повна ширина для кожного блоку */
  }
  .key-topics__description {
    font-size: 34px;
  }

}

@media (min-width: 768px) {
  .key-topics__stats {
    flex-direction: row;
    justify-content: space-around;
  }
  .key-topics__stat-number {
    font-size: 48px;
  }
}
@media (max-width: 400px) {
  .key-topics__title,
  .key-topics__description,
  .key-topics__list {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 768px) {
  /* Контейнер, що містить блоки */
  .key-topics {
    padding-left: clamp(10px, 10%, 260px);  /* Адаптивний відступ зліва */
    padding-right: clamp(10px, 10%, 260px); /* Адаптивний відступ справа */
  }

  /* Стиль для заголовка h1 */
  .key-topics__title {
    color: var(--sub-text-color);
    font-family: "Anonymous Pro", monospace;
    font-size: 11px;
    text-align: left;
    vertical-align: baseline;
    padding-left: 0;  /* Відсутність додаткових відступів */
    margin-left: 0;  /* Прибираємо зайвий відступ зліва */
  }

  /* Оновлений стиль для опису */
  .key-topics__description {
    flex: 0 0 70%;  /* Лівий блок займає 70% ширини */
    font-size: 48px; /* Розмір шрифта для опису */
    padding-left: 0;  /* Прибираємо додаткові відступи */
  }

  /* Оновлений стиль для списку */
  .key-topics__list {
    flex: 0 0 30%;  /* Правий блок займає 30% ширини */
    margin-top: 0;  /* Прибираємо верхній маргін */
    margin-bottom: 10px;
    line-height: 2;  /* Встановлюємо нормальну висоту рядка */
    text-align:justify;  /* Вирівнювання тексту по лівому краю */
    padding-left: 0;  /* Прибираємо відступи зліва для списку */
  }

  /* Контейнер для опису та списку */
  .key-topics__container {
    display: flex;
    justify-content: flex-start;  /* Вирівнювання по лівому краю */
    align-items: stretch;  /* Розтягнути блоки по висоті */
    gap: 0px;  /* Відстань між блоками */
  }
}
