.key-topics {
  margin-top: 80px;
  margin-left: 24px;
  margin-right: 24px;
  align-content: center;
}

.key-topics__title {
  color: var(--sub-text-color);
  font: var(--f)
  font-size: 11px;
  text-align: left;
  vertical-align: baseline
}

.key-topics__description {
  display: block;
  width: auto;
  height: auto;
  border: 5px;
  color: #151419;
  font-size: 34px;
  box-sizing: border-box;
}

.key-topics__highlight {
  color: #ff1392;
}

.highlight-dot {
  color: #72f0e1;
}

.key-topics__list {
  display: block;
  width: auto;
  height: auto;
  padding: 15px;
  margin-top: 50;
  border: 5px;
  color: #151419;
 
  box-sizing: border-box;

    .key-topics__item {
        font-size: 14px;
        color: #15141985;
    }
}


  .key-topics__three-images-container {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    object-fit: contain;
  }
  
  .key-topics__image-container {
    width: 20%; 
    height: auto;
    display: block;
  }
  
  .key-topics__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .key-topics__overlay-title {
    color: #FFFFFF; 
    font-size: 22px; 
    text-align: center;
  }
  .key-topics__overlay-text {
    color: #FFFFFFD4; 
    font-size: 17px;
    text-align: center;
}
li {
  list-style-image: url(../img/key-topics/yellow-checked-checkbox-19px.png);
  height: auto;
 
}
