.key-topics {
  margin-top: 80px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 80px;
  align-content: center;
  }

.key-topics__title {
  color: var(--sub-text-color);
  font-family: "Anonymous Pro", monospace;
  font-size: 11px;
  text-align: left;
  vertical-align: baseline
}

.key-topics__description {
  display: block;
  width: auto;
  height: auto;
  border: 5px;
  font-family: "Albert Sans", sans-serif;
  color: var(--background-color);
  font-size: 34px;
  font-weight: 700;
  box-sizing: border-box;
}

.key-topics__highlight {
  color: var(--highlight-color3)
}

.highlight-dot {
  color: var(--highlight-color1)
}

.key-topics__list {
  display: block;
  width: auto;
  height: auto;
  padding: 15px;
  margin-top: 50;
  border: 5px;
  font-family: "Comme", sans-serif;
  font-size: 14px;
  color: var(--list-text-color);
  position: relative;
  line-height: 4;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.key-topics__item {
  list-style-image: url(../img/key-topics/yellow-checked-checkbox-19px.png);
  max-width: 15 px;
}

.key-topics__three-images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.key-topics__image-container {
  position: relative;
  width: 100%;
  max-width: 365px;
  max-height: 440px;
  overflow: hidden;
}

.key-topics__image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease; 
  transform-origin: center center;
}

.key-topics__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0;
  visibility: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.key-topics__image-container:hover .key-topics__overlay {
  opacity: 1;
  visibility: visible;
}

.key-topics__image-container:hover .key-topics__image {
  transform: scale(1.05);
}


@media (max-width: 500px) {
  .key-topics__three-images-container {
      flex-direction: column; 
      gap: 30px; 
      height: 323px;
  }
}

.key-topics__overlay-title {
  color: var(--h3-color);
  font-family: "Albert Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 30px;
}

.key-topics__overlay-text {
color: var(--overlay-text-color);
font-family: "Comme", sans-serif;
font-size: 17px;
font-weight: 400;
line-height: 1.5;

}

.key-topics__stats {
  position: relative;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}


.key-topics__stat {
  line-height: 4;
}

.key-topics__stat-number {
  font-family: "Albert Sans", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 2.5;
  color: var(--background-color);
  text-align: center;
  vertical-align: baseline;
}

.key-topics__stat-label {
  font-family: "Anonymous Pro", monospace;
  font-size: 11px;
  font-weight: 700;
  line-height: 2.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--sub-text-color);
  text-align: center;
  vertical-align: baseline;
}

.key-topics__stat-color-dot-10 {
  font-family: "Albert Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 2.5;
  color: var(--highlight-color2);
  text-align: center;
  vertical-align: baseline;
}

.key-topics__stat-color-dot-230k {
  font-family: "Albert Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 2.5;
  color: var(--highlight-color3);
  text-align: center;
  vertical-align: baseline;
}

.key-topics__stat-color-dot-539 {
  font-family: "Albert Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 2.5;
  color: var(--highlight-color1);
  text-align: center;
  vertical-align: baseline;
}

.key-topics__stat-color-dot-4k {
  font-family: "Albert Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 2.5;
  color: var(--highlight-color4);
  text-align: center;
  vertical-align: baseline;
}


