.about-conference {
    background-color: rgba(41, 39, 52, 1);
    padding: 220px 15px 175px 15px;   
    max-height: 965px;   
}
.about-conference__container {
    display: flex; 
    max-width: 1300px;
    margin: auto; 
}
.about-conference__content {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    gap: 50px;
}
.about-conference__block {
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex: 1;
}
.about-conference__item-text {
    display: block;
    font-family: "Anonymous Pro", monospace;
    text-transform: uppercase;
    font-size: var(--font-size-small11);
    color: var(--prices-color-blue);
    font-weight: 700;
}
.about-conference__answers {
    margin-top: 20px;
    font-family: "Albert Sans", sans-serif;
    color: var(--prices-ticket-bt);
    font-weight: 700;
    line-height: clamp(39px, 4vw, 55.2px);
    font-size: clamp(34px, 4vw, 48px);
}
.text-highlight--yellow {
    color: var(--prices-color-slide3);
}
.text-highlight--pink {
    color: var(--prices-color-pink);
}
.about-conference__name {
    margin-top: 24px;
    font-family:  Comme, sans-serif;
    color: var(--prices-ticket-bt);
    font-size: var(--ac-block-font-size);
    font-weight: 500;
    line-height: 26.6px;
}
.about-conference__description {
    margin-top: 25px;
    font-family: Comme, sans-serif;
    color: var(--ac-text-color-072);
    font-size: 17px;
    line-height: 25.5px;
}
about-conference__faq {
    margin-top: 20px;
}
.contact-form {
    background-color: rgba(30, 29, 42, 1);
    display: flex;
    justify-content: center;
    padding: clamp(39px, 4vw, 60px) clamp(47px, 4vw, 80px);
    flex-direction: column;
    text-align: center;
    box-shadow: none;
}
.contact-form__legend {
    font-family: "Albert Sans", sans-serif;
    font-size: 26px;
    line-height: 31px;
    font-weight: 600;
    color: var(--prices-ticket-bt);
}
.contact-form__input {
    width: 100%;
    margin-top: 32px;
    padding: 21px 38px 21px 38px;
    background-color: rgba(255, 255, 255, 0.02);
    cursor: text;
    font-size: 18px;
    font-family: Comme, cans-serif;
    font-weight: 400;
    border: none;
    color: var(--h3-color);
}
.contact-form__button {
    margin-top: 56px;
    padding: 21px 38px 21px 38px;
    width: 100%;
    background-color: rgb(251, 225, 89);
    transition: background-color 0.5s;
} 
.contact-form__button:hover {
    background-color: rgb(254, 117, 191);
}
.contact-form__button--text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px 39px 21px 38p;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
}
@media (max-width: 770px) {
    .about-conference {
        padding: 110px 0 115px 0; 
        max-height: 100%;
    }
    .about-conference__content {
        display: flex;
        flex-direction: column;
        padding: 0 15px 0 15px;
    }
    .about-conference__block {
        max-width: 100%; 
    }
}