<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TechCon</title>
    <link
      rel="shortcut icon"
      href="img/index/favicon.png"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/global.footer.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/attendees.css">
  </head>
</html>
<body>
  <header>
    <!--Євгеній Ткаченко-->
    <nav
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.header-nav.partial.html"
    ></nav>
    <!-- Mykhailo Tymoshchuk (Title) -->
    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="about.header-title.html"
    ></div>
  </header>
  <main>
    <!--Mykhailo Tymoshchuk (Who we are!?)-->
    <div
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="about.section-whoweare.html"
    ></div>
    <!--Yevhenii Tkachenko-->
    <div 
    data-hx-trigger="load"
    data-hx-swap="outerHTML"
    data-hx-get="about.section-attendees.html"
    ></div>
  </main>
  <footer>
    <!--Anna Khytrych-->
    <div
      data-hx-get="global.footer.event-schedule-contacts.partial.html"
      data-hx-trigger="load"
    ></div>
    <!--Yevhenii Tkachenko-->
    <div
      data-hx-get="global.footer.partial.html"
      data-hx-trigger="load"
    ></div>
  </footer>
  <script src="js/index.js"></script>
</body>