<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TechCon</title>
    <link
      rel="shortcut icon"
      href="img/index/favicon.png"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/index.css">
    
  </head>

  <body>
    <!-- Taras Balushka -->
    <header>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
      <!-- Illya Soroka -->
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.header-hero.partial.html"
      ></div>
    </header>
    <main>
      <!-- Dmytro Sechka -->
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.expectations.html"
      ></div>

      <!-- Iryna Gaievska -->
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.key-topics.html"
      ></div>
      <!-- Danylo Hrom -->
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.key-speakers.partial.html"
      ></div>
      <!-- Illya Soroka -->
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.key-speakers-members.partial.html"
      ></div>
      <!-- Illya Soroka -->
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.key-speakers-members-carousel.partial.html"
      ></div>
      <!--Yevhenii Tkachenko-->
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.buy-ticket.html"
      ></div>
      <!-- Borys Hloba / Danylo Hrom-->
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.features-should-visit-techcon.partial.html"
      ></div>
      <!-- Andrii Zakordonskyi -->
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.testimonials.partial.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.promos.partial.html"
      ></div>
      <!--Anna Khytrych-->
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.ticket-options-prices.partial.html"
      ></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.about-conference-faq-contact-form.partial.html"
      ></div>
    </main>
    <footer>
      <!--Anna Khytrych-->
      <div
        data-hx-get="global.footer.event-schedule-contacts.partial.html"
        data-hx-trigger="load"
      ></div>
      <!--Yevhenii Tkachenko-->
      <div
        data-hx-get="global.footer.partial.html"
        data-hx-trigger="load"
      ></div>
    </footer>
    <script src="js/index.js"></script>
  </body>
</html>
