.hero {
  --responsive-coefficient: 1;

  font-family: "Albert Sans", sans-serif;
  font-size: calc(1rem * var(--responsive-coefficient));
  color: var(--h3-color);

  background-image: url("../img/index/cover-hero.png");
  background-size: cover;

  padding-top: 90px;
  padding-bottom: 80px;
  padding-left: 15px;
  padding-right: 15px;

  .hero__header {
    color: var(--highlight-color2);
    text-transform: uppercase;
    font-family: "Anonymous Pro", monospace;
    font-size: 0.6875rem;
  }

  .hero__main-thought {
    margin-top: 20px;
    font-size: calc(2.375rem * var(--responsive-coefficient));
    font-weight: 600;
    text-align: left;
    overflow-wrap: break-word;
    line-height: 1;
    max-width: 720px;

    span.hero__accent-color-one {
      color: var(--highlight-color1);
    }

    span.hero__accent-color-two {
      color: var(--highlight-color3);
    }
  }

  .hero__description {
    margin-top: 45px;
    font-size: 1.1875rem;
    max-width: 720px;

    span.hero__accent-color {
      color: var(--highlight-color2);
    }
  }

  .hero__noodle-about-partners {
    margin-top: 25px;
    font-size: 0.875rem;
    color: rgb(183, 181, 203);
    text-decoration: underline;
  }

  .hero__partners-logos {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    --gap-value: calc(12px * var(--responsive-coefficient));
    --width_value: calc(138px * var(--responsive-coefficient));
    gap: var(--gap-value);
    max-width: calc(var(--gap-value) + 2 * var(--width_value));

    .hero__partners-logo-container {
      width: var(--width_value);
      height: calc(78px * var(--responsive-coefficient));
      display: flex;
      align-items: center;
      justify-items: center;

      svg.hero__partner-logo {
        max-width: 100%;
      }
    }
  }

  .hero__buy-ticket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-family: Comme, sans-serif;
    gap: 10px;
    margin-top: 50px;

    button.hero__buy-ticket-button {
      text-align: center;
      width: 158px;
      height: 56px;
      color: var(--button-text-color);
      background-color: var(--highlight-color2);
      font-size: 0.875rem;
      font-weight: 700;
    }

    .hero__buy-ticket-discover-schedule {
      font-size: 0.9425rem;
      font-style: italic;
      color: var(--highlight-color2);
    }
  }

  .hero__footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 80px;
    text-transform: uppercase;
    text-decoration: underline;
    color: var(--highlight-color2);

    font-family: "Anonymous Pro", monospace;
    font-size: 0.6875rem;

    .hero__footer-socials {
      display: flex;
      gap: 10px;
    }

    .hero__footer-arrow {
      color: var(--highlight-color3);
      width: 50px;
    }
  }

  @media (min-width: 768px) {
    --responsive-coefficient: 1.82;

    .hero__description {
      max-width: 465px;
    }
  }

  @media (min-width: 990px) {
    --responsive-coefficient: 2.1;
  }
}
